<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head")%>
  </head>

  <body class="bg-primary text-gray-300">
    <%- include("partials/sidebar")%>
    <main class="main">
      <%- include("partials/text-about")%> <%-
      include("partials/abilities-about")%>
    </main>
    <%- include("partials/footer")%> <%- include("partials/tabbar")%> <%-
    include("partials/scripts")%>
  </body>
</html>
